#admissions-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1E6D2;
    color: #212121;
}

#admissions-main img {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#admissions-main h2 {
    text-align: center;
    color: #0D6217;
    background-color: #F1E6D2;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#admissions-main p {
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 3px solid #DAA520;
    font-size: 1rem;
}

@media (min-width: 44rem) {
    #admissions-main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    #admissions-main h2 {
        grid-column: 2 / span 10;
        text-align: center;
    }

    #admissions-main p {
        grid-column: 2 / span 8;
    }

    #admissions-main img {
        grid-column: span 2;
        width: 12rem;
        justify-self: center;
    }
}