.card {
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #212121;
    border-radius: 1rem;
    background-color: #FAFAFA;
}

.card img {
    max-width: 20rem;
    margin: 0.5rem 0;
}

.card p {
    color: #212121;
    margin: 0.5rem 0;
}

.card .more {
    margin-top: auto;
    background-color: #7F1C1F;
    color: #F1E6D2;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card .more:hover {
    background-color: #DAA520;
}

@media (min-width: 44rem) {
    .card {
        grid-column: span 6;
        height: 100%;
    }
}