#home-main {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #F1E6D2;
}

#home-main img {
    height: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#home-main p {
    margin: 0.5rem 1rem;
    color: #212121;
    background-color: #FAFAFA;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    line-height: 1.6;
    max-width: 800px;
}

#home-main h2 {
    grid-area: title;
    padding-top: 1rem;
    text-align: center;
    color: #0D6217;
    background-color: #F1E6D2;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}