body {
    display: flex;
    flex-direction: column;
    font-size: medium;
    background-color: #F1E6D2; 
    color: #212121; 
}

#house-main {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: medium;
    background-color: #F1E6D2;
    color: #212121;
}

.gryffindor  {
    color: #740001;
}

.hufflepuff {
    color: #ecb939;
}

.ravenclaw {
    color: #222f5b;
}

.slytherin {
    color: #2a623d;
}