#panels-main {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #F1E6D2;
}

#panels-main h2 {
    text-align: center;
    color: #0D6217;
    background-color: #F1E6D2;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (min-width: 44rem) {
    #panels-main {
        padding: 1rem;
    }
}